/** CSS: About Page **/
.about {
    display: grid;
    height: 100%;
    padding: 100px;
}

.teamMembers, .repo {
    margin: auto 0;
}

.memojis {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    width: auto;
    margin: 0;
}

#kevin {
    grid-column: 1 / 1;
    grid-row: 1;
}

#lee {
    grid-column: 2 / 1;
    grid-row: 1;
}

#jeremiah {
    grid-column: 3 / 1;
    grid-row: 1;
}

#rafael {
    grid-column: 4 / 1;
    grid-row: 1;
}

.memojis div {
    float: left;
    box-shadow: 0px 14px 59px -13px rgba(0,0,0,0.75);
    border-radius: 20px;
}
.teamMembers img {
    max-width: 150pt;
    display: block;
    margin: 0 auto;
    filter: grayscale(90%);
}

.memojis img:hover {
    filter: grayscale(0%);
}

.teamMembers h4 {
    text-align: center;
}

.repo {
    padding-top: 30px;
    float: left;
}

.repo img {
    max-width: 200px;
}

.repo h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.about a {
    color: rgb(0, 122, 204);
    text-decoration: none;
}

.about a:hover {
    color: rgb(200, 153, 124);
    text-decoration: none;
}

/* MEDIA QUERY FOR MOBILE MENU */

@media screen and (max-width:1190px) {
    .memojis {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width:1024px) {
    .about {
        padding: 20pt;
        display: block;
        padding-top: 50px;
    }
}

@media screen and (max-width:768px) {
    .memojis {
        grid-template-columns: auto auto;
    }
    
    .about {
        padding: 20pt;
        padding-top: 50px;
    }
}

@media screen and (max-width: 500px) {
    .memojis {
        grid-template-columns: auto;
    }
    
    .about {
        padding: 10pt;
        padding-top: 50px;
    }
}