
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.login-container {
    margin: auto;
    margin-top: 20%;
    width: 60%;
    border: 3px solid #b0b3b7;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 50% auto;
}

.login-logo {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.login-brand {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.login-details {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-color: #edf1f7;
}


h1, form, .login-signup {
    text-align: center;
}

h1 {
    margin: 5px;
}

p {
    margin: 0;
}

input {
    padding: 5px;
    margin: 5px;
}

/*** MOBILE STYLES FOR LOGIN PAGE ***/



@media only screen and (max-width:768px) {
    .login-container {
        margin-top: 40%;
    }
    .login-logo {
        width: 100%;
        vertical-align: baseline;
        /*margin: auto;*/
        /*max-width: 450px;*/
    }
    .login-details {
        width: 100%;
    }
}

@media only screen and (max-width:660px) {
    .login-brand {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    
    .login-details {
        grid-column: 1 / span 2;
        grid-row: 3 / span 2;
    }
}