body {
    margin: 0;
    /*margin-bottom: 100px;*/
    padding: 0;
    font-family: "SF Pro Display";
    background-color: white;
    /*height: 100px;*/
}

/*** Home view ***/
main {
    margin-left: 80px;
    margin-right: 80px;
    max-height: 95%;
}

.home {
    display: none;
    grid-gap: 5px;
    grid-template-columns: 25% auto;
    position: relative;
}

.gallerylist  {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

.artistlist {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
}

.genrelist {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
}

.gallerylist h1 {
    text-align: center;
    border-bottom: 1px solid #202020;
}

/* list styles */

.gallerylist {
    margin: auto;
    width: 80%;
    /*border: 3px solid green;*/
    /*padding: 10px;*/
}

.gallerylist-ul {
    list-style-type: none;
    text-align: justify;
}
/*.home-gallery {*/
/*    text-decoration: none;*/
/*}*/

/*** LOGOS AND IMAGES ***/
.logo {
    text-align: center;
    background-color: rgba(0,0,0, 0.9);
}

.logo img {
    max-width: 125px;
    padding: 10pt;
}

 /*ANIMATED GIF */
.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* HOME PAGE artists, genres, galleries CSS*/
figure {
  width: 125px;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0em;
  padding: 0.5em;
  border-radius: 10px;
}

figure a img{
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

figcaption {
    background-color: white;
    border-radius: 0px 0px 12px 12px;
    margin: 0px;
    /*padding: 5px;*/
    /*word-wrap: break-word;*/
    text-overflow: ellipsis; 

}


/*INDIVIDUAL MENU PAGE STYLES */
/*COVERS ARTISTS.PHP, GALLERIES.PHP, AND GENRES.PHP*/
.display-lists {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-bottom: 10vh;
    margin-top: 5vh;
    align-items: center;
}

a.display-gallery {
    padding: 10px;
    background-color: #DAF7A6;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    margin: 5px;
}

a.display-gallery:hover {
    background-color: #AFE256;
}

.display-content {
    background-color: #F7F77B;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
}

/* Horizontal Scroll*/

.artistlist, .genrelist {
    height: 100%;
    width: auto;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 0;
    margin-top: 25px;
}

.box1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.box2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    /*height: 250px;*/
}

.hpage {
    display: inline-block;
    /*height: 200px;*/
    width: auto;
    margin: 5px;

    
}

/* MEDIA QUERY FOR MOBILE MENU */

@media only screen and (max-width:1300px) {
    .home {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
    }
    
    .hpage {
        /*display: block;*/
        height: 150px;
        width: 150px;
    }
    
    .gallerylist, .artistlist, .genrelist {
        text-align: center;
        height: 400px;
        width: auto;
        overflow: auto;
    }
    
    .gallerylist  {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    
    .artistlist {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    
    .genrelist {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    
}

@media only screen and (max-width: 450px) {
    .display-lists {
        grid-template-columns: auto;
        height: 800px;
        overflow: auto;
    }
}