/*MEDIA QUERY FOR MOBILE MENU*/
.toggle {
    display: block;
}
.menu {
    width: 100%;
    display: none;
}
.menu li {
    width: 100%;
    display: block;
    /*text-align: center;*/
}
.active {
    display: block;
}
.teamMembers div {
    width: 100%;
}
.repo img {
    max-width: 100%;
}