/* <Main> grid layout */
.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
}

.information {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.list {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

/* <Main> grid layout end */

/* <div class="information> */
.information {
  background-color: grey;
  text-align: center;
  padding: 10px;
}

.image img {
  border-radius: 15px;
  border-style: groove;
}

.details p {
  text-align: justify;
}

/* <div class="information> end */

/* <div class="list"> */
.list {
  background-color: gray;
  text-align: center;
  padding: 10px;
}

.painting {
  overflow-y: auto;
  max-height: 670px;
}

.painting li {
  text-align: justify;
}

ul {
  list-style-type: none;
  width: auto;
}

li img {
  float: left;
  margin: 0 15px 0 0;
  border-radius: 15px;
  border-style: groove;
}

li {
  padding: 10px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}
/* <div class="list"> end */