.single-artist-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 50% 50%;
}

.ulheader, .ulrow {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 20% 40% 20% 20%;
    text-align: center;
    align-items: center;
}

.paintings {
    background-color: green;
}

.artistinfo {
    background-color: red;
}

.boxheader{
  text-align: center;
  margin: 0;
  padding: 0;
  border-top: 1px dashed #202020;
  border-bottom: 1px dashed #202020;
}

.boxheader h3 {
  margin: 0;
  padding: 5px;
}

/*** List Style ***/
ul {
  list-style-type: none;
  padding: 5px;
}

ul.ulrow {
  border-top: 1px solid #202020;
  margin-top: 0;
  margin-bottom: 0;
}

ul.ulcol0 img {
  border: 2px solid #202020;
  padding: 2px;
}

ul.ulheader {
  margin: 0;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width:768px) {
    .single-artist-container {
        grid-template-columns: 100%;
    }
    .artistInfo {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }
    .paintings {
        grid-column: 1 /span 1;
        grid-row: 2 / span 2;
    }
}